@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap");
// font-family: "Edu AU VIC WA NT Pre", cursive;
// font-family: "Dancing Script", serif;

h1 {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: teal;

  span {
    font-size: 35px;
    margin-right: 5px;
  }
}

// так можна контролювати іконки від google fonts а точніше Material Icons
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
